
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Heladeria Fresh</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a [routerLink]="" class="nav-link" (click)="clickHomeFunction()">Home</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="" class="nav-link" (click)="clickOfertasFunction()">Ofertas</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="" class="nav-link" (click)="clickDireccionFunction()">Direccion</a>
        </li>
        <li class="nav-item">
          <a routerLink="/public"  routerLinkActive="active" class="nav-link">Productos</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="" class="nav-link" (click)="clickQuienesSomosFunction()">Quienes Somos</a>
        </li>
      </ul>
      <form class="d-flex" style="margin-left: auto;">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<ngb-carousel *ngIf="images && pageName == 'ofertas'">
  <ng-template ngbSlide style="max-height: 432px;">
    <div class="picsum-img-wrapper">
      <img [src]="images[0]" alt="Random first slide" width="100%">
    </div>
    <div class="carousel-caption" style="color: rgb(119, 204, 253);">
      <h3> El helado más moderno</h3>
      <p>No dejes para mañana el helado que te puedes saborear hoy.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper" >
      <img [src]="images[1]" alt="Random second slide" width="100%">
    </div>
    <div class="carousel-caption" style="color: rgb(248, 241, 241);">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[2]" alt="Random third slide" width="100%">
    </div>
    <div class="carousel-caption" style="color: rgb(15, 15, 15);">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template>
</ngb-carousel>


<ngb-carousel *ngIf="images && pageName == 'quienesSomos'">
  <ng-template ngbSlide style="max-height: 432px;">
    <div class="picsum-img-wrapper">
      <img [src]="images[3]" alt="Random first slide" width="100%">
    </div>
    <div class="carousel-caption" style="color: rgb(74, 219, 255);">
      <h3> El postre favorito de todos</h3>
      <p>Amor es amor y eso incluye el amor por los helados.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper" >
      <img [src]="images[4]" alt="Random second slide" width="100%">
    </div>
    <div class="carousel-caption" style="color: rgb(124, 224, 255);">
      <h3>Helado - amor y paz</h3>
      <p>Domingo más 4 de la tarde, por un intenso calor es igual a refrescante helado de limón. La fórmula perfecta.</p>
    </div>
  </ng-template>
</ngb-carousel>

<div *ngIf="pageName == 'home'" style="
background-image: url('./assets/img/b6.jpg');
background-size: cover;
margin: 0!important;
color: indigo;"
class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal"><img src="./assets/img/logo.png" /></h1>
    <a class="btn btn-outline-secondary" href="/public" style="color: #9bd0ff;">Comprar</a>
  </div>
</div>

<div *ngIf="pageName == 'direccion'" style="
background-image: url('./assets/img/Pil-express-orale2.jpg');
background-size: cover;
margin: 0!important;
color: indigo;"
class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal"><img src="./assets/img/logo.png" style="position: relative;top: 100px;left: -29px;"/></h1>
    <a class="btn btn-outline-secondary" href="#">Ir</a>
  </div>
</div>

<div *ngIf="pageName == 'home'" class="container marketing" style="margin-top: 50px;">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4" style="text-align: center;">
      <img class="rounded-circle" src="./assets/img/h1.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2>Que tu corazón sea cálido</h2>
      <p>Si quieres algo ve por él y punto; si quieres un helado, ven por él y punto. No lo pienses más y visita nuestra heladería, mira que la vida es hoy.</p>
      <p><a class="btn btn-secondary" href="/public" role="button">Ver Producto »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4" style="text-align: center;">
      <img class="rounded-circle" src="./assets/img/h2.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2>Los más ricos y originales</h2>
      <p>Una copa de licor no es lo mismo que una copa con helado Ron Pasas. Te ofrecemos -40º de cremoso, dulce y frío sabor añejado ¿Ves la diferencia?</p>
      <p><a class="btn btn-secondary" href="/public" role="button">Ver Producto »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4" style="text-align: center;">
      <img class="rounded-circle" src="./assets/img/h3.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2>El reto es comer solo uno</h2>
      <p>Está bien, está bien, no tentaremos más tu paladar con nuestros adictivos helados. Solo te recordamos que estamos abiertos todos los días y tenemos servicio de delivery. Llamanos.</p>
      <p><a class="btn btn-secondary" href="/public" role="button">Ver Producto »</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->

  <div *ngIf="pageName == 'home'" class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div style="flex: 1;" class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Refrescante y cremoso</h2>
        <p class="lead">De lo prohibido eres adicto, no nos importa tu dieta. Lo que nos importa es hacerte feliz con nuestras exclusivas paletas de crema helada.</p>
      </div>
      <div
      class="bg-light box-shadow mx-auto" 
      style="
       background-image: url('./assets/img/h4.jpg');
      background-size: cover;
      width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
    <div style="flex: 1;" class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Sabor que derrite</h2>
        <p class="lead">3 colores, 3 sabores es todo lo que necesita nuestro perfecto helado Napolitano, para cautivarte.</p>
      </div>
      <div class="bg-dark box-shadow mx-auto" style="background-image: url('./assets/img/h5.jfif');
      background-size: cover;
      width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
  </div>
  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">OPCIONES PARA TODOS</h2>
      <p class="lead">Frutos rojos, Bailey’s, Carajillo y hasta Dulce de Leche. Explora todas las opciones de nuestro menú.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="https://icecreamnation.mx/assets/opciones-5cc6a07106703a7f07fd3c65583367dce861429c67d66fa7b4f8bdf3d70d57f4.png" data-holder-rendered="true">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">HEALTHY.</h2>
      <p class="lead">Sabemos que la alimentación es de los factores más importantes para verse y sentirse bien. Es por ello que tenemos opciones keto sin azúcar elaboradas con todo el amor y sin todas las calorías innecesarias..</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="https://icecreamnation.mx/assets/healthy-906bbf5209adfb29994cbeb5945425dc2205ca5f246e7e5e0ac538b9acc1de27.png" data-holder-rendered="true" style="width: 500px; height: 500px;">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Siempre vas querer más. <span class="text-muted">Frio y natural.</span></h2>
      <p class="lead">Helado positivo de las cosas, lo tenemos nosotros con nuestras paletas cremosas. Los helados se derriten y la vida es corta, así que disfrútalos a ambos al máximo, hasta el final.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="https://media-cdn.tripadvisor.com/media/photo-s/18/28/87/1d/helado-de-lucky-charms.jpg" data-holder-rendered="true" style="width: 500px; height: 500px;">
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->

</div>

<div class="wrapper">
  <div class="">
    <div class="content-wrapper">
      <div class="content">							
        <div id = "tableLeft" class="bg-white border rounded">
          <div class="row no-gutters">
            
        
            <div id = "bodycards" class="card card-default" *ngIf="pageName == 'ofertas'">
              <div class="card-header card-header-border-bottom">
                <h2>Ofertas - FRESH</h2>
                <!--Carousel Wrapper-->
                <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

                  <!--Controls-->
                  <div class="controls-top" style="text-align: center;">
                    <a class="btn-floating" href="#multi-item-example" data-slide="prev">
                      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                      </svg>
                    </a>
                    <a class="btn-floating" href="#multi-item-example" data-slide="next">
                      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                        <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                      </svg>
                    </a>
                  </div>
                  <!--/.Controls-->

                  <!--Indicators-->
                  <ol class="carousel-indicators">
                    <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
                    <li data-target="#multi-item-example" data-slide-to="1"></li>
                    
                  </ol>
                  <!--/.Indicators-->

                  <!--Slides-->
                  <div class="carousel-inner" role="listbox">

                    <!--First slide-->
                    <div class="carousel-item active">



                      <div class="col-md-3" style="float:left">
                        <div class="card mb-2">
                          <img class="card-img-top"
                            src="./assets/img/d1.png" alt="Card image cap">
                          <div class="card-body">
                            <h4 class="card-title">Añadiendo dulce alegría</h4>
                            <p class="card-text">En un caluroso día de verano, nada se compara con una refrescante bola de su helado favorito. </p>
                            
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6" style="float:left">
                        <div class="card mb-2">
                          <img class="card-img-top"
                            src="./assets/img/d2.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h4 class="card-title">Bondad de la fruta </h4>
                            <p class="card-text">De lo prohibido eres adicto, no nos importa tu dieta. Lo que nos importa es hacerte feliz con nuestras exclusivas paletas de crema helada.</p>
                            
                          </div>
                        </div>
                      </div>
                      
                      <div class="col-md-3" style="float:left">
                      <div class="card mb-2">
                          <img class="card-img-top"
                            src="./assets/img/d3.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h4 class="card-title"> Es simplemente delicioso</h4>
                            <p class="card-text">Lo único bueno de tener calor es que se puede eliminar con un buen helado cítrico.</p>
                            
                          </div>
                        </div>
                      </div>

                    </div>
                    <!--/.First slide-->
                    <!--First slide-->
                    <div class="carousel-item">



                      <div class="col-md-3" style="float:left">
                        <div class="card mb-2">
                          <img class="card-img-top"
                            src="./assets/img/d4.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h4 class="card-title">Añadiendo dulce alegría</h4>
                            <p class="card-text">En un caluroso día de verano, nada se compara con una refrescante bola de su helado favorito. </p>
                            
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6" style="float:left">
                        <div class="card mb-2">
                          <img class="card-img-top"
                            src="./assets/img/d5.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h4 class="card-title">Bondad de la fruta </h4>
                            <p class="card-text">De lo prohibido eres adicto, no nos importa tu dieta. Lo que nos importa es hacerte feliz con nuestras exclusivas paletas de crema helada.</p>
                            
                          </div>
                        </div>
                      </div>
                      
                      <div class="col-md-3" style="float:left">
                      <div class="card mb-2">
                          <img class="card-img-top"
                            src="./assets/img/d6.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h4 class="card-title"> Es simplemente delicioso</h4>
                            <p class="card-text">Lo único bueno de tener calor es que se puede eliminar con un buen helado cítrico.</p>
                            
                          </div>
                        </div>
                      </div>

                    </div>
                    <!--/.First slide-->


                    <!--First slide-->
                    <div class="carousel-item">



                      <div class="col-md-3" style="float:left">
                        <div class="card mb-2">
                          <img class="card-img-top"
                            src="./assets/img/1.jfif" alt="Card image cap">
                          <div class="card-body">
                            <h4 class="card-title">Añadiendo dulce alegría</h4>
                            <p class="card-text">En un caluroso día de verano, nada se compara con una refrescante bola de su helado favorito. </p>
                            
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6" style="float:left">
                        <div class="card mb-2">
                          <img class="card-img-top"
                            src="./assets/img/2.jfif" alt="Card image cap">
                          <div class="card-body">
                            <h4 class="card-title">Bondad de la fruta </h4>
                            <p class="card-text">De lo prohibido eres adicto, no nos importa tu dieta. Lo que nos importa es hacerte feliz con nuestras exclusivas paletas de crema helada.</p>
                            
                          </div>
                        </div>
                      </div>
                      
                      <div class="col-md-3" style="float:left">
                      <div class="card mb-2">
                          <img class="card-img-top"
                            src="./assets/img/3.jfif" alt="Card image cap">
                          <div class="card-body">
                            <h4 class="card-title"> Es simplemente delicioso</h4>
                            <p class="card-text">Lo único bueno de tener calor es que se puede eliminar con un buen helado cítrico.</p>
                            
                          </div>
                        </div>
                      </div>

                    </div>
                    <!--/.First slide-->

                    <!--Second slide-->
                    <div class="carousel-item">

                      <div class="col-md-3" style="float:left">
                        <div class="card mb-2">
                          <img class="card-img-top"
                            src="./assets/img/4.jfif" alt="Card image cap">
                          <div class="card-body">
                            <h4 class="card-title">Prueba diferente con cada cuchara</h4>
                            <p class="card-text">Quizás el helado no cura la depresión, pero es un paso hacia la felicidad y eso ayuda mucho.</p>
                            
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6" style="float:left">
                        <div class="card mb-2">
                          <img class="card-img-top"
                            src="./assets/img/5.jfif" alt="Card image cap">
                          <div class="card-body">
                            <h4 class="card-title">Traemos alegría a la vida de todos</h4>
                            <p class="card-text">El helado es democrático, todos somos igual de débiles en su presencia.</p>
                            
                          </div>
                        </div>
                      </div>

                      <div class="col-md-3" style="float:left">
                        <div class="card mb-2">
                          <img class="card-img-top"
                            src="./assets/img/6.jfif" alt="Card image cap">
                          <div class="card-body">
                            <h4 class="card-title"> Para todos los gustos</h4>
                            <p class="card-text">Amorosos sabores perfectamente emparejados, ven y prueba nuestra línea tri-sabor. El único triángulo amoroso, que te da felicidad.</p>
                            
                          </div>
                        </div>
                      </div>

                    </div>
                    <!--/.Second slide-->

                  

                  </div>
                  <!--/.Slides-->

                </div>
              </div>
            </div>

            <div 
              id = "bodycards" class="card card-default" *ngIf="pageName == 'direccion'"
              style="
                  width: 100%;
                  flex-direction: row;
              ">
              <div class="card-header card-header-border-bottom" style="width: 50%;">
                <h2>Mapa</h2>
                <div style="width: 100%"><iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=es&amp;q=Sucre%2025%20de%20Mayo%20cafecapital+(Heladeria%20Luz)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.gps.ie/">gps tracker</a></iframe></div>
              </div>
              <div class="card-header card-header-border-bottom" style="width: 50%;">
                <h2>Direccion</h2>
                <aside class="sc-eCImvq heSriC">
                  <section class="aside-section1">
                    <p>"Hola!! te damos la bienvenida a heladeria , Esperamos que estés muy bien, somos una heladería que quiere brindar experiencias y productos llenos de <span>amor</span>. Tenemos toda una barra de frutas y toppings dulces para que crees el mejor helado del mundo, tenemos helado suave de yogurt, café y unos espectaculares jugos naturales. Deseamos que <span>disfruten</span> de su estancia."</p>
                  </section>
                  <br>
                  <section class="aside-section2">
                    <h3>Horario:</h3>
                    <ul>
                      <li>
                        <span> Lunes a viernes:</span>
                        <p> 04:00pm - 11:00pm</p>
                      </li>
                      <li>
                        <span> Sábado y Domingo:</span>
                        <p> 04:00pm - 12:00am</p>
                      </li>
                    </ul>
                  </section>
                  <br>
                  <section class="aside-section3">
                    <p>consumo en el lugar
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-all" viewBox="0 0 16 16">
                        <path d="M12.354 4.354a.5.5 0 0 0-.708-.708L5 10.293 1.854 7.146a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l7-7zm-4.208 7-.896-.897.707-.707.543.543 6.646-6.647a.5.5 0 0 1 .708.708l-7 7a.5.5 0 0 1-.708 0z"/>
                        <path d="m5.354 7.146.896.897-.707.707-.897-.896a.5.5 0 1 1 .708-.708z"/>
                      </svg>
                    </p>
                    <p>entrega a domicilio
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-all" viewBox="0 0 16 16">
                        <path d="M12.354 4.354a.5.5 0 0 0-.708-.708L5 10.293 1.854 7.146a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l7-7zm-4.208 7-.896-.897.707-.707.543.543 6.646-6.647a.5.5 0 0 1 .708.708l-7 7a.5.5 0 0 1-.708 0z"/>
                        <path d="m5.354 7.146.896.897-.707.707-.897-.896a.5.5 0 1 1 .708-.708z"/>
                      </svg>
                    </p>
                    <p>para llevar
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-all" viewBox="0 0 16 16">
                        <path d="M12.354 4.354a.5.5 0 0 0-.708-.708L5 10.293 1.854 7.146a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l7-7zm-4.208 7-.896-.897.707-.707.543.543 6.646-6.647a.5.5 0 0 1 .708.708l-7 7a.5.5 0 0 1-.708 0z"/>
                        <path d="m5.354 7.146.896.897-.707.707-.897-.896a.5.5 0 1 1 .708-.708z"/>
                      </svg>
                    </p>
                  </section>
                
                </aside>
              </div>
            </div>


            <div 
              id = "bodycards" class="card card-default" *ngIf="pageName == 'quienesSomos'"
              style="
                  width: 100%;
                  flex-direction: row;
              ">
              <div class="card-header card-header-border-bottom" style="width: 50%;">
                <h2>Quienes Somos</h2>
                <div style="width: 100%">
                  <img src="./assets/img/h6.jpg" style="width: 100%;" />
                </div>
              </div>
              <div class="card-header card-header-border-bottom" style="width: 50%;">
                <h2>Heladeria Fresh</h2>
                <aside class="sc-eCImvq heSriC">
                  <section class="aside-section1">
                    <p>FRESH HELADERÍA BUSCA RECUPERAR EL CONCEPTO DE HELADERÍA DE BARRIO CLÁSICA DONDE LAS PERSONAS SE REÚNEN A PASAR UN  BUEN RATO MIENTRAS DISFRUTAN DE UN BUEN PRODUCTO. NUESTRA FILOSOFÍA ES OBTENER LA MEJOR CALIDAD POSIBLE CON SABORES DEL MUNDO USANDO LAS MEJORES MATERIAS PRIMAS DEL MERCADO, LAS FRUTAS MEJOR SELECCIONADAS Y CON RECETAS ITALIANAS BIEN BALANCEADAS.</p>
                  </section>
                  <br>
                  <section class="aside-section2">
                    <p>CONSIDERANDO QUE BOLIVIA ES RECONOCIDA POR LA MANERA DE PRODUCIR, EXHIBIR Y SERVIR HELADOS ARTESANALES LOGRANDO UNA TEXTURA SUAVE, SABORES QUE SABEN A LO QUE PROMETEN Y UNA EXPERIENCIA ÚNICA A LA HORA DE COMERLOS.</p>
                  </section>
                  <br>
                  <section class="aside-section3">
                    <p>NUESTRO PROPÓSITO ES VOLVERNOS LA HELADERÍA PREFERIDA DE LOS COLOMBIANOS Y SER RECONOCIDOS POR NUESTRA CALIDAD, SERVICIO, INNOVACIÓN Y SOBRE TODO POR LOGRAR QUE CADA COLOMBIANO SE SIENTA COMO EN CASA CUANDO NOS VISITA.
                    </p>
                  </section>
                
                </aside>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>

              <footer class="footer mt-auto">
        <div class="copyright bg-white">
          <p>
            &copy; <span id="copy-year">2021</span> Copyright Helados Powered by 
            <a
              class="text-primary"
              href="https://www.facebook.com/"
              target="_blank"
              >Fresh</a
            >.
          </p>
        </div>
        <a routerLink="/inventory"  routerLinkActive="active" class="dropdown-item">Admin</a> 
        <a routerLink="/public"  class="nav-link " (click)="logout()">Logout</a>
        <script>
            var d = new Date();
            var year = d.getFullYear();
            document.getElementById("copy-year").innerHTML = year;
        </script>
      </footer>

  </div>
</div>









  


  <app-inventory [onlyRead] = "true" (onCompleteData)=onCompleteData($event)></app-inventory>
  


          
         

  